{% extends 'base.html' %}

{% block content %}


<style>
body{
    background-color: #2F3E46;
}

#card-item{
                width: 500px;
                top: 10px;
                left: 450px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
        }

    }

.container {
        width: 200px; /* Adjust the max-width as needed */
        padding: 20px; /* Adjust padding */
        margin: auto; /* Center the container */
    }

</style>

<div id="card-item" class="card bg-transparent">
    <div class="card-body bg-transparent">
        <form method="POST" action="{% url 'search-result' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Search" name="searched" aria-label="Search"><br>
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>

    </div>
</div>

<center>
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% if searched %}
                    {% for player in searched_player %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Team image -->
                                <img class="card-img-top" src="{{ player.player_image.url }}" alt="{{ player.player_name }}" />
                                <!-- Team details -->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Team name -->
                                        <h5 class="fw-bolder">{{ player.player_name }}</h5>
                                        <!-- Team Head coach -->
                                        {{ player.position }}
                                    </div>
                                </div>
                                <!-- Team detail view -->
                                <!-- Team image -->

                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">

                                    <div class="text-center">
                                        <a class="btn btn-outline-dark mt-auto" href="">View </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}

                {% else %}
                {% endif %}
            </div>
        </div>
    </section>
</center>


{% endblock%}

