{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block extra_head %}
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
<script src="https://cdn.tailwindcss.com"></script>
{% endblock %}
{% block content %}
<style>
    select.form-select{
        background-color: #1e293b !important;
        color: aliceblue;
        border-color: #94a3b8;
    }
</style>

<section class="section parallax-container breadcrumbs-wrap" data-parallax-img="{% static 'img/bg-breadcrumbs-1-1920x726.jpg' %}">
    <div class="material-parallax parallax">
        <img src="{% static 'img/bg-breadcrumbs-1-1920x726.jpg' %}" alt="" style="transform: translate3d(-50%, 82px, 0px); display: block;">
    </div>
    <div class="parallax-content breadcrumbs-custom context-dark">
        <div class="container">
            <h2 class="breadcrumbs-custom-title">Staff Registration</h2>
            <ul class="breadcrumbs-custom-path">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="">Staff</a></li>
                <li class="active">Staff Registration</li>
            </ul>
        </div>
    </div>
</section>


<div class="container my-5" style="max-width: 900px;">
  <div class="p-4 p-md-5 rounded-3 shadow-lg" style="background-color: #1e293b;">
    <h2 class="text-3xl font-bold text-center mb-5" style="color: #a5b4fc;">
       Register New Staff
    </h2>

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <!-- Player Name -->
      <div class="mb-3">
        {{ form.full_name.label_tag }}
        {% render_field form.full_name class="form-control bg-dark text-white border-light" placeholder="Enter staff name" %}
      </div>

     <!-- Team -->
      <div class="mb-3">
       {{ form.team.label_tag }} 
        {% render_field form.team class="form-select bg-dark text-white border-light" %}
      </div>

      <!-- Role -->
      <div class="mb-3">
        {{ form.role.label_tag }}
        {% render_field form.role class="form-select form-select-lg bg-dark text-white border-light" %}
      </div>
     

      <!-- Staff Image -->
      <div class="mb-3">
       {{ form.staff_image.label_tag }}
        {% render_field form.staff_image class="form-control bg-dark text-white border-light" %}
      </div>

     

      <!-- Submit Button -->
      <div class="text-center mt-4">
        <button type="submit" class="btn btn-lg w-100 font-weight-bold" 
                style="background-color: #4f46e5; color: white; border: none;">
          Save
        </button>
      </div>
    </form>
  </div>
</div>









<br><br>
{% endblock %}





